# Gradle
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar

# IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/

# Java
*.class
*.jar
*.war
*.ear
hs_err_pid*

# Kotlin
*.kotlin_module

# OS
.DS_Store
Thumbs.db

# Plugin build artifacts
*.zip